@charset "UTF-8";
body, html {
  min-width: 1242px;
  min-height: 2102px; }

.gCCon {
  position: relative;
  padding-top: 387px;
  width: 1242px;
  margin: 0 auto; }
  .gCCon .gCConL {
    width: 383px;
    height: 513px;
    background: rgba(0, 0, 0, 0.7); }
    .gCCon .gCConL ul li {
      width: 383px; }
      .gCCon .gCConL ul li a {
        display: block; }
        .gCCon .gCConL ul li a img {
          display: block;
          margin: 0 auto; }
    .gCCon .gCConL ul li:nth-child(1) img {
      padding: 29px 0; }
    .gCCon .gCConL ul li:nth-child(2) img {
      margin-bottom: 40px; }
    .gCCon .gCConL ul li:nth-child(3) img {
      margin-bottom: 26px; }
  .gCCon .gCConR {
    width: 803px;
    height: 730px;
    background: #fff; }
    .gCCon .gCConR h2 {
      width: 803px;
      height: 97px;
      position: relative;
      background: #060405; }
      .gCCon .gCConR h2 img {
        display: block;
        height: 28px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
    .gCCon .gCConR .gCConRCon {
      width: 699px;
      height: 600px;
      padding: 33px 52px 0 52px; }
      .gCCon .gCConR .gCConRCon h3 a {
        display: block;
        font: 24px/46px "微软雅黑";
        text-align: center;
        color: #000000;
        font-weight: 600; }
      .gCCon .gCConR .gCConRCon h4 span, .gCCon .gCConR .gCConRCon h4 em {
        font: 9px/35px "微软雅黑";
        color: #989898;
        font-style: normal; }
      .gCCon .gCConR .gCConRCon h4 em {
        margin-right: 6px; }
      .gCCon .gCConR .gCConRCon p {
        font: 12px/24px "微软雅黑"; }
