@charset "UTF-8";
body, html {
  min-width: 1242px;
  min-height: 2102px; }

.newsCCon {
  position: relative;
  padding-top: 387px;
  width: 1242px;
  margin: 0 auto; }
  .newsCCon .newsCConL {
    width: 383px;
    height: 513px;
    background: rgba(0, 0, 0, 0.7); }
    .newsCCon .newsCConL ul li {
      width: 383px; }
      .newsCCon .newsCConL ul li a {
        display: block; }
        .newsCCon .newsCConL ul li a img {
          display: block;
          margin: 0 auto; }
    .newsCCon .newsCConL ul li:nth-child(1) img {
      padding: 29px 0; }
    .newsCCon .newsCConL ul li:nth-child(2) img {
      margin-bottom: 40px; }
    .newsCCon .newsCConL ul li:nth-child(3) img {
      margin-bottom: 26px; }
  .newsCCon .newsCConR {
    width: 803px;
    height: 730px;
    background: #fff; }
    .newsCCon .newsCConR h2 {
      width: 803px;
      height: 97px;
      position: relative;
      background: #060405; }
      .newsCCon .newsCConR h2 img {
        display: block;
        height: 28px;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        margin: auto; }
    .newsCCon .newsCConR .newsCConRC {
      width: 747px;
      height: 88px;
      padding: 15px 28px 0 28px;
      position: relative; }
      .newsCCon .newsCConR .newsCConRC .newsCConRCC {
        width: 742x;
        height: 88px;
        text-align: center;
        border-bottom: 1px solid #b5b5b5; }
        .newsCCon .newsCConR .newsCConRC .newsCConRCC ul {
          margin: 0 auto;
          display: inline-block; }
          .newsCCon .newsCConR .newsCConRC .newsCConRCC ul li {
            border-bottom: 1px solid #ffffff; }
            .newsCCon .newsCConR .newsCConRC .newsCConRCC ul li a {
              display: block;
              font-size: 17px;
              color: #848484;
              font-family: "微软雅黑";
              width: 115px;
              height: 86px;
              line-height: 86px;
              text-align: center; }
            .newsCCon .newsCConR .newsCConRC .newsCConRCC ul li .newsCConRCActive {
              color: #111111;
              border-bottom: 1px solid #111111; }
    .newsCCon .newsCConR .newsCConRB {
      width: 693px;
      height: 299px;
      padding: 14px 55px 0 55px;
      position: relative; }
      .newsCCon .newsCConR .newsCConRB .newsCWorkCom {
        width: 693px;
        height: 299px; }
        .newsCCon .newsCConR .newsCConRB .newsCWorkCom ul li a {
          display: block;
          font: 13px/47px "微软雅黑";
          color: #424242; }
          .newsCCon .newsCConR .newsCConRB .newsCWorkCom ul li a span {
            width: 610px; }
          .newsCCon .newsCConR .newsCConRB .newsCWorkCom ul li a em {
            font-style: normal; }
      .newsCCon .newsCConR .newsCConRB .newsCWorkComNone {
        display: none; }
