body{
  min-width: 1200px; 
   background:#EBF3F7 url(../img/web_index_bg.png) no-repeat center;
   background-size:cover ;
   padding-top:84px;
}
html{
    height:auto;
}
.web{
    width:100%;   
    position: fixed;
    top:0;
    z-index: 99;
    .webCon{
        width:100%;
        background: #000;
        height:84px;
        margin:0 auto;
       
        margin:auto;
        left:0;
        right:0; 
        top:0; 
        z-index: 99;
        .webTopCon{
            width:967px;
            height:64px;
            background: #000;
            margin:0 auto;
            position: relative;
            padding-left:233px;
            padding-top:20px;
            .webLogo{
                position: absolute;
                top:20px;
                left:23px;
                img{
                    display: block;
                    height:113px;
                }
            }
            ul{
                li{
                    width:161px;
                    height:64px;
                    a{
                        display: block;
                        dl{
                            width:100%;
                            dt{
                                width:161px;
                                height:35px;
                                text-align: center;
                                font-size: 17px;
                                line-height: 35px;
                                color:#d4d4d4;
                            }
                            dd{
                                width:100%;
                                height:18px;
                                text-align: center;
                                font-size: 8px;
                                line-height: 18px;
                                color:#828282;
                            }
                            .webTopConColor{
                                color:#cdb15c;
                            }
                            .webTopConColors{
                                color:#cdb15c;
                            }
                        }
                    }
                }
            }
            .webTopR{
                .webTopRCon{
                    cursor: pointer;
                    
                    b{
                       height:64px;
                       line-height: 50px;
                       font-size:12px ;
                       color:#a69365; 
                    }
                    span{
                        
                        position: relative;
                        margin-right: 17px;
                        .webTopRConT{
                            display: block;
                            height:28px;
                            margin-top: 10px;
                            margin-left:9px ;
                           
                        }
                        .webTopRConTNone{
                            display: none;
                        }
                        .webTopRConB{
                            background:#000 url(../img/web_box.png) no-repeat;
                            background-size:cover ;
                            display: block;
                            position: absolute;
                            left:-17px;
                            top:42px;
                            width:79px;
                            padding-top: 14px;
                            height:76px;
                            dl{
                                width:100%;
                                height: 100%;
                                dt{
                                    img{
                                        display: block;
                                        margin:0 11px 0px 8px;
                                    }
                                }
                                dd{
                                    font-size: 10px;
                                    color:#232323;
                                    text-align: center;
                                    font-style: normal;
                                    font-family: "微软雅黑";
                                }
                            }
                        }
                        .webTopRConNone{
                            display: none;
                        }
                    }
                    em{
                        
                        position: relative;
                        .webTopRConT{
                            display: block;
                            height:28px;
                            margin-top: 10px;
                            margin-right:25px ;
                        }
                        .webTopRConB{
                            background:#000 url(../img/web_box.png) no-repeat;
                            background-size:cover ;
                            display: block;
                            position: absolute;
                            left:-26px;
                            top:42px;
                            width:79px;
                            padding-top: 14px;
                            height:76px;
                            dl{
                                width:100%;
                                height: 100%;
                                dt{
                                    img{
                                        display: block;
                                        margin:0 11px 0px 8px;
                                    }
                                }
                                dd{
                                    font-size: 10px;
                                    color:#232323;
                                    text-align: center;
                                    font-style: normal;
                                    font-family: "微软雅黑";
                                }
                            }
                        }
                        .webTopRConNone{
                            display: none;
                        }
                    }
                }
            }
        }
    }
    
}